p{
    color: black;
    text-align: justify;
    font-size: 40px;
}
h1{
    color: rgb(95, 68, 19);
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
#texto1 {
    color: #ff1717;
}
#texto2 {
    color: rgb(20, 20, 209);
}
.destaques{
    color: rgb(129, 33, 218);
    font-size: 35px;
    font-style: italic;
}
listas{
    background-color: #ffdd09;
}

header{
    padding: 20px;
    background-color: cadetblue;
    border-bottom: black;
    color: whitesmoke;
    font-size: 20px;
}
#menu{
    font-size: 15px;
    color: red;
    }
a:hover{
    color: aquamarine;
    }
a:active{
    color: whitesmoke;
    
}